@import "./../../styles/variables.scss";

.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .favourite-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}