@import "./../../styles/variables.scss";

.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .profile-header {
    font-size: 3em;

  }

  .avatar {
    box-shadow: 0 0 30px $black;
    border: 3px solid $backgroundBlue;
    border-radius: 50%;
    height: 30%;
    width: 30%;
    margin: 0.4em;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0 1em 0;
    width: 50%;

    .profile-user-header {
      font-size: 1.4em;
    }

    .profile-user-info {
      padding-bottom: 0.7em;
    }
  }

  .favourite-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;

    .favourite-game-img {
      height: 69px;
      width: 184px;
      border: .1em solid $grey;
    }
  }

  .previous-sessions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    padding: 0.2em 0 4em 0;

    .session-num {
      padding: 1em;
      margin-bottom: 1em;
      align-self: center;
      border: 1px solid $white;
      border-radius: 3%;
    }

    .session-component {
      padding: 0.2em 0 0 0;
      margin-top: 10px;
      border-top: 1px solid $white;
      // border-bottom: 1px solid $white;
      display: flex;
      flex-direction: column;

      .session-item {
        padding: 0.3em 0.3em 0 0.3em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .prev-session-text {
          display: flex;
          flex-direction: column;
          padding-left: 0.2em;
        }

        .game-logo {
          display: flex;
          justify-content: center;
          
          .game-logo-img {
            width: 75%;
            height: 75%;
            align-self: center;
          }

        }

      }




    }
  }
}