@import "./../../styles/variables.scss";

nav {
  display: flex;
  justify-content: space-between;
  background-color: $black;
  color: $white;

  div {
    padding: 1em 2em;
  }

  .logo {
    height: 40px;
    width: 45px;
    border-radius: 50%;
  }
}