@import "./../../styles/variables.scss";

div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

.gameList {
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

.searchBar {
  
  justify-content: center;
  align-items: center;
  padding: 1.5em 0em;
  width: 100%;
  
  form {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

  input {
    height: 2em;
    width: 60%;
    background-color: $white;
    border: 2px solid $black;
    font-family: $font-family;
    border-image: none;
  }

  input:focus{
    // border: 3px solid $red;
    outline: none;
    border-image: none;
    border: 1px solid $white;
  }
  }
  

}
