@import "./../../styles/variables.scss";

.gameListItem {
  padding: 1em;
  border: 1px solid $white;
  flex-grow: 1;
  flex-basis: 30%;

  .gameImage {
    height: 5em;
    width: 5em;
    border: 1em solid $grey;
  }
  
  // .gameListName {

  // }

  // .gameListSessions {
  
  // }
}