@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');


$red: #E63946;
$black: #2F3136;
$white: #F1FAEE;
$grey: #C4C4C4;
$backgroundBlue: #383A52;
$menuBlue: #457B9D;

$font-family: 'Reem Kufi', sans-serif;