@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');


$red: #E63946;
$black: #2F3136;
$white: #F1FAEE;
$grey: #C4C4C4;
$backgroundBlue: #3b4363;
// OLD $backgroundBlue: #383A52;
$backgroundImage: url("https://www.transparenttextures.com/patterns/diagmonds.png");
$connectImage: url("https://i.imgur.com/J1M3kJE.jpg");
$menuBlue: #457B9D;

$font-family: 'Reem Kufi', sans-serif;
