@import "./../../styles/variables.scss";

.chat {
  color: $black;
  background-color: $white;
  width: 100%;
  position: absolute;
  bottom: 60px;
  z-index: 0;
}

.scrollable {
  background-color: $black;
  overflow-y: scroll;
  max-height: 300px;
  height: 300px;
  background-image: $backgroundImage;
}

.card { 
  width: 100%;
}

.chat .card {
  flex-direction: column-reverse;
}

.chatButton {
  text-align: center;
  background-color: $black;
  color: $white;
}

.textBox{
  background-color: $black;

  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  text-align: center;
  background-image: $backgroundImage;
}

textarea {
  width: 90%;
}
