@import "./../../styles/variables.scss";


.gameInfo {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;

  .gameListName {
    font-size: x-large;
  }

  .gameInfoImage {
    height: 69px;
    width: 184px;
    border: .1em solid $grey;
  }
}

.messages {
  position: fixed;
  bottom: 0;
  right: 0;
}

.leaveSession {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $red;
  border: none;
  color: $white;
  height: 60px;
  box-shadow: none;
}

.leaveSession:hover {
  background-color: $red;
}