@import "./../../styles/variables.scss";


.gameInfo {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  flex-grow: 1;

  .gameListName {
    font-size: x-large;
  }

  .gameInfoImage {
    height: 69px;
    width: 184px;
    border: .1em solid $grey;
  }
}