@import "./../../styles/variables.scss";


.gameInfo {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;

  .gameListName {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .difficulty{
      font-size: 1.4em;
    }
  }

  .game-image-container{
    padding-bottom: 1em;

    .gameInfoImage {
      height: 69px;
      width: 184px;
      border: .1em solid $grey;
    }
  }
}

.gamerList{

  height: 60%;

  .gamerListDiv {
    background-color: rgba(0, 0, 0, 0.5);
    height: 38vh;
  }
}


.messages {
  position: fixed;
  bottom: 0;
  right: 0;
}

.leaveSession {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $red;
  border: none;
  color: $white;
  height: 60px;
  box-shadow: none;
}

.leaveSession:hover {
  background-color: $red;
}