@import "./styles/variables.scss";

#App {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .page {
    padding-top: 81px;
    padding-bottom: 65px;
    width: 100%;
    height: 100%;
  }
}