@import "~bootstrap/scss/bootstrap";
@import "./styles/variables.scss";

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $backgroundBlue;
  color: $white;
  font-family: $font-family;
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #root {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

}
