@import "~bootstrap/scss/bootstrap";
@import "./styles/variables.scss";

html {
  
  height: 100%;
  width: 100%;

  body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    background-color: $backgroundBlue;
    background-image: $backgroundImage;
    color: $white;
    font-family: $font-family;
    margin: 0;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    #root {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  
  }
}

