@import "./../../styles/variables.scss";



#loading {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-bottom: 6em;

  .logo {
  
    height: 100px;
    width: 100px;
    transition: opacity 0.3s;
    animation: spin 1.1s infinite linear;
  }
  

  @keyframes spin {
    from {
      transform:rotate(0deg);
    }
    to {
      transform:rotate(360deg);
    }
  }
}
