@import "./../../styles/variables.scss";

#registerPage {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  header {
    font-size: 3em;
  }
  
  .alert {
    margin: 0.5em 0;
  }

  form {
    
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;

    .form-group {
      padding-top: 0.5em;
    }
  
    .btn-primary {
      margin-top: 1em;
    }

  }

  .loginButton {
    
    padding-top: 0.5em;    
    padding-bottom: 1em;
    
    .btn {
      color: $white;
      // background-color: $menuBlue;
      // border:none;
    }
      
  }
}